<div id="barra_governo">
	<div class="barra">
		<ul>
			<li><a xmlns="http://www.w3.org/1999/xhtml" title="Portal de Estado do Brasil" class="logo" href="http://www.brasil.gov.br/" target="_blank"></a></li>
			<li><a xmlns="http://www.w3.org/1999/xhtml" title="Acesso à Informação" class="ai" href="http://www.acessoainformacao.gov.br/" target="_blank"></a></li>
		</ul>
	</div>
</div>