/* Bug */
div:after {
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	height:0;
	overflow:hidden;
}

/* Filtros */
#filtros {
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
	padding: 5px;
	margin-bottom: 10px;
	font-size: 0.8em;
	display: none;
}

#filtros .filtro {
	float: left;
	margin-right: 10px;
}

#filtros .filtro input[type=submit] {
	font-weight: bold;
}

a.filtros {
	font-size: 0.8em;
	margin: 0 0 5px 0;
}

/* Tabelas */
table {
	width: 80%;
	border-collapse: collapse;
}

table td,
table th {
	border: 1px solid #A0A0A0;
	padding: 5px 10px;
}

table th {
	background-color: #DDDDDD;
}

/* Links */
a {
	text-decoration: none;
}

/* Classes */
.clear {
	clear: both;
	margin-bottom: 7px;
}

.center {
	text-align: center;
}

.sim {
	color: green !important;
}

.nao {
	color: red !important;
}

.negrito {
	font-weight: bold;
}

.imagem_mini {
	display: block;
	width: 200px;
	border: 1px solid #CCCCCC;
}

.foto {
	float: left;
	text-align: center;
	margin-right: 10px;
	height: 200px;
}

.foto img {
	margin: 0;
	height: 150px;
}

.foto p {
	margin: 0;
}

/* DataTables */
.dataTables_length,
.dataTables_filter {
	margin-bottom: 10px;
}

.dataTables_paginate,
.dataTables_info {
	margin-top: 10px;
}

/* Forms */
fieldset {
	clear: both;
/*	border: 1px solid #000000 !important;*/
	margin-top: 2em !important;
	margin-bottom: 1em !important;
	padding: 10px 5px !important;
}

form .required,
form .required label.ui-input-text {
	font-weight: bold !important;
}

/* Form errors */
form .error {
	background: #FFDACC;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-weight: normal;
	margin-bottom: 10px;
	padding: 5px;
}

form .error-message {
	-moz-border-radius: none;
	-webkit-border-radius: none;
	border-radius: none;
	border: none;
	background: none;
	margin: 0;
	padding-left: 4px;
	padding-right: 0;
}

form .error,
form .error-message {
	color: #9E2424;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
}
