/** Forms **/
form {
	clear: both;
	padding: 0;
	margin-top: 30px;
}

fieldset {
	clear: both;
	border: 1px solid #000000;
	margin-bottom: 1em;
	padding: 16px 10px;
}

fieldset legend {
	font-size: 120%;
}

fieldset fieldset {
	margin-top: 0;
	padding: 10px 0 0;
}

fieldset fieldset legend {
	font-weight: normal;
}

fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}

form div {
	clear: both;
	margin-bottom: 0.8em;
	padding: 0.5em;
	vertical-align: text-top;
}

form .input,
form p {
	color: #444;
}

form .required {
	font-weight: bold;
}

form .required label:after {
	content: '(obrigatório)';
	color: #CD9B9B;
	font-size: 60%;
	display: inline-block;
}

/*form .required label:after {
	color: #e32;
	content: '*';
	display: inline;
}*/

form div.submit {
	border: 0;
	clear: both;
	margin-top: 15px;
}

label {
	display: block;
	margin-bottom: 5px;
}

input,
textarea {
	clear: both;
	font-family: verdana, sans-serif;
	padding: 0.5em;
	width: 99%;
	border: 1px solid #444;
}

select {
	clear: both;
	font-size: 120%;
	vertical-align: text-bottom;
	margin-bottom: 0.5em;
}

select[multiple=multiple] {
	width: 100%;
}

option {
	font-size: 110%;
	padding: 0 3px;
}

input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}

div.checkbox label {
	display: inline;
}

input[type=radio] {
	float: left;
	width: auto;
	margin: 6px 0;
	padding: 0;
	line-height: 26px;
}

.radio label {
	margin: 0 0 6px 20px;
	line-height: 26px;
}

input[type=submit] {
	display: inline;
	font-weight: bold;
	width: auto;
}

form .submit input[type=submit] {
	background: #91B05B;
	border: 1px solid #000000;
	color: #000000;
	padding: 10px 10px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

/* Form errors */
form .error {
	background: #FFDACC;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-weight: normal;
}

form .error label:after {
	content: '(com erro)';
	color: #CD9B9B;
	font-size: 60%;
	display: inline-block;
}

form .error-message {
	-moz-border-radius: none;
	-webkit-border-radius: none;
	border-radius: none;
	border: none;
	background: none;
	margin: 0;
	padding-left: 4px;
	padding-right: 0;
}

form .error,
form .error-message {
	color: #9E2424;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
}