/* Reset */
* {
	margin: 0;
	padding: 0;
}

/* Bug */
div:after {
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	height:0;
	overflow:hidden;
}

/* Corpo */
body {
	background: #F5F5F5;
	color: #1C1C1C;
	font-family: verdana, arial, sans-serif;
	font-size: 1em;
}

/* Barra do Governo */
#barra_governo {
	width: 100%;
	height: 28px;
	background: #004B82 url(/img/barra_governo_linha.png) repeat-x;
}
#barra_governo ul {
	padding-right: 15px;
}
#barra_governo li {
	float: right;
	margin-right: 10px;
	list-style: none;
}
#barra_governo .ai{
	display: block;
	width: 161px;
	height: 24px;
	margin-top: 4px;
	background: url(/img/barra_governo_ai.png) no-repeat
}
#barra_governo .logo{
	display: block;
	width: 108px;
	height: 24px;
	margin-top: 4px;
	background: url(/img/barra_governo_logo.png) no-repeat
}

/* Blocos */
#header {
	margin-bottom: 25px;
}

#header a img {
	border: none;
}

#content p {
	margin-bottom: 10px;
}

#footer {
	margin-top: 50px;
	font-size: 80%;
}

#footer .row {
	background-color: #D8DDC6;
    padding: 10px;
}

#footer a {
    font-weight: bold;
}

#footer a:hover {
    text-decoration: underline;
}

#footer address {
    font-style: normal;
    margin: 10px 0;
}

/* Títulos */
h2 {
	font-family: arial, sans-serif;
	font-size: 2em;
	margin-bottom: 10px;
}

h3 {
	font-family: arial, sans-serif;
	font-size: 1.5em;
	margin-bottom: 10px;
}

h4 {
	font-family: arial, sans-serif;
	font-size: 1.2em;
	margin-top: 15px;
	margin-bottom: 2px;
}

/* Links */
a {
	color: #001E60;
	text-decoration: none;
}

a:active {
	color: #001E60;
	text-decoration: none;
}

a:visited {
	color: #001E60;
	text-decoration: none;
}

a:hover {
	color: #1C1C1C;
	text-decoration: none;
}

/* Programação */
table.programacao {
	margin: 30px auto;
	max-width: 600px;
	min-width: 270px;
	width: 80%;
	border-collapse: collapse;
	font-size: 0.9em;
}

table.programacao caption {
	font-weight: bold;
	font-size: 1em;
	margin-bottom: 10px
}

table.programacao tr td:first-child {
	width: 95px;
}

table.programacao td {
	padding: 10px 15px;
	border: 1px solid #000000;
}

table.programacao th {
	padding: 10px 20px;
	border: 1px solid #000000;
	font-weight: bold;
	background-color: #DDDDDD;
}

table.programacao tfoot tr td {
	font-size: 0.8em;
	font-weight: bold;
	padding: 10px 0;
}

/* Classes */
.center {
	text-align: center;
}