/* Reset */
* {
	margin: 0;
	padding: 0;
}

/* Bug */
div:after {
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	height:0;
	overflow:hidden;
}

/* Corpo */
body {
	background: #F5F5F5;
	color: #1C1C1C;
	font-family: verdana, arial, sans-serif;
	font-size: 10pt;
}

/* Barra do Governo */
#barra_governo {
	width: 100%;
	height: 28px;
	background: #000000 url(/img/barra_governo_linha.png) repeat-x;
}
#barra_governo ul {
	padding-right: 15px;
}
#barra_governo li {
	float: right;
	margin-right: 10px;
	list-style: none;
}
#barra_governo .ai{
	display: block;
	width: 161px;
	height: 24px;
	margin-top: 4px;
	background: url(/img/barra_governo_ai.png) no-repeat
}
#barra_governo .logo{
	display: block;
	width: 108px;
	height: 24px;
	margin-top: 4px;
	background: url(/img/barra_governo_logo.png) no-repeat
}

/* Blocos */
#header {
	margin-bottom: 25px;
}

#header a img {
	border: none;
}

#menu {
	text-align: center;
}

#menu ul {
	display: inline-block;
	list-style: none;
	/*width: 99%;*/
	/*margin: 0 auto;*/
}

#menu ul li {
	color: #000000;
	background-color: #A1D043;
	float: left;
	width: 140px;
	min-width: 100px;
	max-width: 180px;
	font-weight: bold;
	opacity: 0.9;
}

#menu ul li a {
	color: #000000;
	display: block;
	padding: 10px 0;

}

#menu ul li a:hover {
	text-shadow: 0 0 15px #333333;
}

#menu ul li.primeiro {
	-webkit-border-top-left-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

#menu ul li.ultimo {
	-webkit-border-top-right-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-bottomright: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

#menu ul li.programacao {
	background-color: #DA251D;
}

#menu ul li.certificados {
	background-color: #A1D043;
}

#menu ul li.inscricoes {
	background-color: #0093DD;
}

#menu ul li.noticias {
	background-color: #F19ABE;
	color: #000000;
}

#menu ul li.fotos {
	background-color: #E77817;
}

#menu ul li.regulamento {
	background-color: #00923F;
}

#menu ul li.contato {
	background-color: #C4BF66;
	color: #000000;
}

#breadcrumb {
	margin: 10px 0;
	font-size: 80%;
	font-weight: bold;
}

#content p {
	margin-bottom: 10px;
}

#content #pre_cert {
	border: 1px solid gray;
	background-color: #e7e7e7;
	padding: 20px;
	
	-moz-box-shadow:     inset 0 0 5px 5px #888;
	-webkit-box-shadow:  inset 0 0 5px 5px #888;
	box-shadow:          inset 0 0 5px 5px #888;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px 6px 6px 6px;
}

#footer {
	margin-top: 50px;
	font-size: 80%;
}

#footer .row {
	background-color: #D8DDC6;
    padding: 10px;
}

#footer a {
    font-weight: bold;
}

#footer a:hover {
    text-decoration: underline;
}

#footer address {
    font-style: normal;
    margin: 10px 0;
}

#footer #voltarTopo {
    text-align: right;
    color: #FC0;
    font-weight: bold;
}

#footer #voltarTopo a {
    background: transparent url(/img/seta_topo.gif) no-repeat right 4px;
    padding-right: 20px;
}

/* Links */
a {
	color: #001E60;
	text-decoration: none;
}

a:active {
	color: #001E60;
	text-decoration: none;
}

a:visited {
	color: #001E60;
	text-decoration: none;
}

a:hover {
	color: #1C1C1C;
	text-decoration: none;
}

a.sublinhado {
	text-decoration: underline;
}

/* Títulos */
h2 {
	font-family: arial, sans-serif;
	font-size: 2em;
	margin-top: 20px;
	margin-bottom: 15px;
}

h3 {
	font-family: arial, sans-serif;
	font-size: 1.5em;
	margin-top: 15px;
	margin-bottom: 10px;
}

h4 {
	font-family: arial, sans-serif;
	font-size: 1.2em;
	margin-top: 15px;
	margin-bottom: 2px;
}

/* Fotos */
.foto img {
	margin: 0;
	/*width: 225px;*/
	border: 1px solid #CCCCCC;
}

.foto p {
	text-align: center;
}

/* Classes */
.clear {
	clear: both;
}

.center {
	text-align: center;
}

.negrito {
	font-weight: bold;
}

.oculto {
	display: table;
	text-indent: -20000px;
}

.flutua {
	float: left;
}

.img_noticia {
	margin: 0 10px;
	border: 1px solid #CCCCCC;
	width: 300px;
}

.img_noticia_home {
	margin: 0 5px;
	border: 1px solid #CCCCCC;
	width: 120px;
}

.nota {
	font-size: 0.8em;
	font-style: italic;
}

.dica {
	font-size: 80%;
	font-style: italic;
	text-align: center;
}

p.titulo {
	font-family: arial, sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 10px;
}

.copyright {
	float: right;
	margin: 10px 0;
	font-size: 0.8em;
}
