table.programacao {
	margin: 30px auto;
	max-width: 600px;
	min-width: 270px;
	border-collapse: collapse;
	font-size: 0.9em;
}

table.programacao caption {
	font-weight: bold;
	font-size: 1em;
	margin-bottom: 10px
}

table.programacao tr td:first-child {
	width: 50px;
}

table.programacao td {
	padding: 10px 15px;
	border: 1px solid #000000;
}

table.programacao th {
	padding: 10px 20px;
	border: 1px solid #000000;
	font-weight: bold;
	background-color: #DDDDDD;
}

table.programacao tfoot tr td {
	font-size: 0.8em;
	font-weight: bold;
	padding: 10px 0;
}

