<h2>Consultar Frequ&ecirc;ncias</h2>
<?php
echo $this->Form->create('Frequencia');
	echo $this->Form->input('Participante.inscricao', array('type' => 'text', 'label' => 'Número da Inscrição do Participante'));
echo $this->Form->end('Consultar');
?>
<script>
	$(document).ready(function(){
		$('#ParticipanteInscricao').focus();
		$('#ParticipanteInscricao').select();
	});
</script>